
name: Auto Deploy to Server

on:
  push:
    branches:
      - main  # 监听 main 分支

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Deploy to server via SSH
      uses: appleboy/ssh-action@v0.1.7
      with:
        host: 121.43.192.135
        username: root
        key: ${{ secrets.DEPLOY_KEY }}
        script: |
          cd /root/Careflow
          git reset --hard
          git clean -fd
          git pull origin main
          docker compose up -d --build
